<ion-view view-title="Home">
	<ion-content padding="true" class="note-content">
		<div class="row">
			<div class="col">
				<h2 class="text-center">This is Homepage</h2>
			</div>
		</div>
		
		<a class="button button-block button-calm" ui-sref="addNote">Add Note</a>
		<a class="button button-block button-assertive" ui-sref="deleteNote">Delete Note</a>
		<a class="button button-block button-positive" ui-sref="viewNote">View Note</a>
		<a class="button button-block button-balanced" ui-sref="updateNote">Update Note</a>

	</ion-content>
</ion-view>